body {
  margin: 0 auto;
}

.wholeBox {
  display: flex;
  background-color: #e4ebf3;
}

.bold {
  font-weight: bold;
}

.mainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lighter {
  color: #dbdde2;
  font-weight: lighter;
  margin-left: 1vw;
  margin-right: 1vw;
}

.mainArea h1 {
  font-size: 125%;
  color: #6984a5;
}

h2 {
  margin-left: 0.5vw;
}

#mainpfp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #dbdde2 3px solid;
  align-self: center;
  margin-top: 2vw;
}

.notification {
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: left;
  margin-top: 1vw;
  width: 70vw;
  height: 3vh;
  background-color: #60c6d0;
  color: #d3ecf7;
  font-size: 70%;
  white-space: nowrap;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notification #calendar {
  width: 20px;
  height: 20px;
}
.notification #details {
  color: #d3ecf7;
}
.notification #text {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 19vw;
  margin-left: 1vw;
}

.boxes {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 75vw;
}

.box {
  width: 35vw;
  height: 30vw;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 1vw;
}
.box .boxHeader {
  background-color: #f6f9fe;
  color: #63707e;
  height: 7vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 2vw;
  border-bottom: #dbdde2 2px solid;
  margin-bottom: 0;
}
.box .boxHeader .icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5vw;
}
.box .boxHeader .sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  width: 5vw;
}
.box .boxHeader .add {
  align-self: center;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 2vw;
  border: #dbdde2 1px solid;
  color: #83c8eb;
  font-size: 65%;
}
.box .boxArea {
  background-color: #ffffff;
  color: #63707e;
  width: 100%;
  font-size: 70%;
  white-space: nowrap;
}
.box .boxArea .message {
  display: flex;
  margin-top: 0.5vh;
  border-bottom: #dbdde2 1px solid;
}
.box .boxFooter {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.box .boxFooter .footerLink {
  color: #83c8eb;
  text-decoration: none;
  font-size: 125%;
  margin-top: 1vw;
}
.box .pfp {
  align-self: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 2vw;
}
.box .subBoxRow {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(227, 235, 243);
}
.box .subBox {
  width: 17vw;
  height: 9.75vw;
  background-color: #ffffff;
  margin-bottom: 0.25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}
.box .subBox h2 {
  font-size: 80%;
}
.box .subBox .subImg {
  width: 40px;
  height: 40px;
  align-self: center;
}
.box .subBox .blue {
  align-self: flex-end;
  margin-right: 1vw;
  background-color: #dbdde2;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #60c6d0;
  font-size: 90%;
}
.box .subBox .red {
  align-self: flex-end;
  margin-right: 1vw;
  background-color: #dbdde2;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #e33e5f;
  font-size: 90%;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
}
#welcome label {
  font-size: 150%;
  margin-left: 2vw;
  margin-top: 2vw;
}
#welcome select {
  width: 70%;
  height: 5vh;
  margin-left: 2vw;
  border: #dbdde2 1px solid;
  color: #63707e;
}
#welcome .check {
  display: flex;
  margin-left: 2vw;
  margin-bottom: 1vw;
}
#welcome .check input {
  width: 5%;
}
#welcome .check input:checked {
  accent-color: #60c6d0;
  border-color: #d3ecf7;
}

#myProfile {
  border-top: #dbdde2 1px solid;
}/*# sourceMappingURL=main.css.map */