$blueWhite: #d3ecf7;
$teal: #60c6d0;
$basicGray: #63707e;
$lightblue: #83c8eb;
$circle: 50%;
$lighterGray: #dbdde2;
$basicMargin: 1vw;

body{
    margin: 0 auto;
}

.wholeBox{
    display: flex;
    background-color: #e4ebf3;
}

.bold{
    font-weight: bold;
}

.mainArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lighter{
    color: $lighterGray;
    font-weight: lighter;
    margin-left: $basicMargin;
    margin-right: $basicMargin;
}

.mainArea h1{
    font-size: 125%;
    color: #6984a5;
}

h2{
    margin-left: .5vw;
}

#mainpfp{
    width: 100px;
    height: 100px;
    border-radius: $circle;
    border: $lighterGray 3px solid;

    align-self: center;

    margin-top: 2vw;
}

.notification{
    align-self: center;

    display: flex;
    align-content: center;
    justify-content: space-between;

    margin-top: $basicMargin;

    width: 70vw;
    height: 3vh;

    background-color: $teal;

    color: $blueWhite;
    font-size: 70%;

    white-space: nowrap;

    border-radius: 5px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    #calendar{
        width: 20px;
        height: 20px;
        align-self: center;

        margin-right: .5vw;
    }

    #details{
        color: $blueWhite;
    }

    #text{
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        align-content: center;

        width: 23vw;
        margin-left: .5vw;
    }
}

.boxes{
    display: flex;
    align-self: center;

    justify-content: space-evenly;

    width: 75vw;
}

        .box{
            width: 35vw;
            height: 30vw;

            border-radius: 10px;

            background-color: #ffffff;

            margin: $basicMargin;

            .boxHeader{
                background-color: #f6f9fe;

                color: $basicGray;

                height: 7vh;

                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                padding-left: 2vw;

                border-bottom: $lighterGray 2px solid;

                margin-bottom: 0;

                .icon{
                    width: 20px;
                    height: 20px;

                    margin-right: .5vw;
                }

                .sectionHeader{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    align-self: center;

                    width: 5vw;
                }

                .add{
                    align-self: center;

                    height: 5vh;

                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    padding: 10px;
                    padding-top: 0;
                    padding-bottom: 0;

                    margin-right: 2vw;

                    border: $lighterGray 1px solid;

                    color: $lightblue;
                    font-size: 65%;
                }
            }

            .boxArea{
                background-color: #ffffff;

                color: $basicGray;

                width: 100%;

                font-size: 70%;

                white-space: nowrap;

                .message{
                    display: flex;

                    margin-top: .5vh;

                    border-bottom: $lighterGray 1px solid;
                }
            }

            .boxFooter{
                background-color: #ffffff;
                
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;

                .footerLink{
                    color: $lightblue;
                    text-decoration: none;

                    font-size: 125%;
                    margin-top: $basicMargin;
                }
            }

            .pfp{
                align-self: center;

                border-radius: $circle;

                width: 30px;
                height: 30px;

                object-fit: cover;
                margin-left: 2vw;
            }

            .subBoxRow{
                display: flex;
                justify-content: space-evenly;
                background-color: rgb(227,235,243);
            }

            .subBox{
                width: 17vw;
                height: 9.75vw;
                background-color: #ffffff;

                margin-bottom: .25vw;

                display: flex;
                align-items: center;
                flex-direction: column;

                border-radius: 10px;

                text-align: center;

                h2{
                    font-size: 80%;
                }

                .subImg{
                    width: 40px;
                    height: 40px;

                    align-self: center;
                }

                .blue{
                    align-self: flex-end;
                    margin-right: $basicMargin;

                    background-color: $lighterGray;
                    border-radius: 10px;
                    padding-right: 10px;
                    padding-left: 10px;

                    color: $teal;

                    font-size: 90%;
                }
                
                .red{
                    align-self: flex-end;
                    margin-right: $basicMargin;

                    background-color: $lighterGray;
                    border-radius: 10px;
                    padding-right: 10px;
                    padding-left: 10px;

                    color: #e33e5f;

                    font-size: 90%;
                }
            }
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;

    label{
        font-size: 150%;

        margin-left: 2vw;
        margin-top: 2vw;
    }

    select{
        width: 70%;
        height: 5vh;

        margin-left: 2vw;

        border: $lighterGray 1px solid;
        color: $basicGray;
    }

    .check{
        display: flex;

        margin-left: 2vw;
        margin-bottom: $basicMargin;

        input{
            width: 5%;
        }

        input:checked{
            accent-color: $teal;
            border-color: $blueWhite;
        }
    }

}

#myProfile{
        border-top: $lighterGray 1px solid;
    }